@using View.Controllers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rede Social</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="~/Content/custom-bar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        @Html.ActionLink(" ", nameof(UsuarioController.Home), nameof(UsuarioController).Replace("Controller", string.Empty), new { @class = "fas fa-home cute-house" })
                    </div>
                    <div class="search-bar">
                        @using (Html.BeginForm(
                        actionName: nameof(UsuarioController.BuscarUsuarios),
                        controllerName: nameof(UsuarioController).Replace("Controller", ""),
                        method: FormMethod.Get,
                        htmlAttributes: null))
                        {
                            <input name="nome" id="nome" placeholder="Procure seus amigos" type="text">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        }
                    </div>
                    <nav>
                        <div class="menu-btn">
                        </div>
                    </nav>
                    <div class="user-account">
                        @Html.ActionLink(linkText: "Logout",actionName: nameof(UsuarioController.Logout),controllerName: nameof(UsuarioController).Replace("Controller", string.Empty),htmlAttributes: new { @class = "btn btn-danger" }, routeValues: null)
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Scripts/popper.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custombar.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <script type="text/javascript" src="~/Scripts/scrollbar.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    <script type="text/javascript" src="~/Scripts/gifsHelpers.js"></script>
</body>
</html>